.container {
  display: flex;
  width: auto;
  justify-content: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.square {
  font-size: 2rem;
  width: calc(33.33% - 20px); /* Adjusted width with margin */
  height: 7rem;
  margin-right: 20px; /* Adjusted margin for spacing */
  margin-bottom: 20px; /* Adjusted margin for spacing */
  background-color: #ccc;
  padding: 10px;
  text-align: center;
  box-sizing: border-box; /* Ensure the width calculation includes padding and margin */
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}


  
.show {
  display:block;
}

.hide {
  display:none;
}

#choiceContainer {
  text-align:center;
  width: 500px;
  padding: 10px;
  margin: auto;
  margin-bottom: 8rem;
  box-sizing: border-box;
  background-color: aquamarine;
  height: 20%;
  border: 2px solid black;
}


